<template name="form">
    <form>
        <div class="center-button">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <input type="text" placeholder="name" />
        <input type="text" placeholder="message" />
        <div class="center-button">
            <button class="waves-effect waves-light btn">Submit</button>
        </div>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            <ul>
                <li class="secondary-content delete-post">{{this.name}} {{this.message}}{{this.createdAt}}
                    <Button class="waves-effect waves-light btn"><i class="material-icons">delete</i></Button>
                </li>
                <img src="{{Image}}" />
            </ul>
            {{> loginButtons}}
        </div>
        {{updateMasonry}} {{/each}}

    </div>
</template>

<template name="background">
    <div class="content">
    </div>
</template>