/* Article:  http://codingtips.kanishkkunal.in/full-background-image-css/ */

body {
    background: url(http://vignette2.wikia.nocookie.net/godzilla/images/9/9a/Golden_Gate_Bridge.jpg/revision/latest?cb=20150831210600) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 40px auto;
    background: rgba(22, 22, 22, 0.5);
    width: 100%;
    max-width: 960px;
    border-radius: 5px;
    padding-bottom: 32px;
}